<div class="container">
<h1>Movies</h1>
<div class="card">

<p><%= @list.name %></p>
<% @bookmarks.each do |bookmark| %>
<p><%= bookmark.movie.title %></p>
<img src="<% bookmark.movie.poster_url %>">
<% end %>
</div>
</div>

<%= link_to "Add movie", new_list_bookmark_path(@list) %>
